fastapi==0.111.0
uvicorn==0.30.1

pydantic==2.7.4
email-validator==2.1.1

passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.8.0

numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
joblib==1.4.2

tensorflow==2.16.1

python-dotenv==1.0.1

#py -m pip install -r requirements.txt
